@import "modal.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    @apply
    bg-japanese-flower
    bg-cover
    bg-no-repeat
    bg-fixed
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input:focus {
    outline-style: none;
}

.nav, .nav-fixed {
    @apply
    w-full
    p-4
    fixed
    top-0
    inline-flex
    justify-between
    items-center
    z-30
}

.nav-fixed {
    @apply
    bg-black/30
    backdrop-blur
}


.burger-container {
    position: relative;
    height: 28px;
    width: 36px;
    cursor: pointer;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
    height: 4px;
    width: 36px;
    display: block;
    margin-top: 5px;
    border-radius: 2px;
    background-color: white;
}


